body {
    background-color: aquamarine;
}
.towp {
    text-align: center;
    color: brown;
    font-family: monospace;
    border-style: double;
    border-radius: 5px;
    width: 80px;
    margin: auto;
    border-color: black;
}
p {
    text-align: center;
    font-family: cursive;
    font-variant: small-caps;
    font-style: italic;
    border-style: solid;
    border-radius: 40px;
    font-size: larger;
}

h2 {
    text-align: center;
}